<div class="fluid-container">
  <mz-parallax [height]="500">
    <img src="assets/banner.png" class="parallax-banner">
  </mz-parallax>
</div>

<div class="fluid-container m-md-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/usage-chart.png">
          <a mz-button class="halfway-fab accent" [float]="true" [large]="true" [ngClass]="{'pulse': isPulse[0]}" [routerLink]="[]" fragment="usageChart"><i mz-icon icon="insert_chart"></i></a>
        </div>
        <div class="card-content">
          <span class="card-title">Product Usage Chart</span>
          <p>Chart show top products usage as ingredients, in term usage count and time to produced.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/network-graph.png">
          <a mz-button class="halfway-fab accent" [float]="true" [large]="true" [ngClass]="{'pulse': isPulse[1]}" [routerLink]="[]" fragment="networkGraph"><i mz-icon icon="map"></i></a>
        </div>
        <div class="card-content">
          <span class="card-title">Product Network Graph</span>
          <p>Network graph showing all relationship between ingredients and products, and between products among same sources.</p>
        </div>
      </div>
    </div>
  </div>
</div>
