@import "src/variables";

.header {
  flex-wrap: nowrap;

  span, a, /deep/ i.material-icons {
    height: 29px;
    line-height: 29px;
  }

  /deep/ i.material-icons.disabled {
      color: $secondary-text-color;
  }
}