<div class="header row m-0">
  <span class="mr-auto">{{header}}</span>
  <a *ngIf="!disabled" [routerLink]="[]" [queryParams]="setupParams(params, 'sort', field.toLowerCase() + (isSortAscending(field) ? ' desc' : ''))">
    <i mz-icon [icon]="isSortBy(field) ? 'sort' : 'swap_vert'" [ngClass]="isSortAscending(field) ? 'asc' : 'desc'"></i>
  </a>
  <a *ngIf="disabled" class="disabled">
    <i mz-icon icon="swap_vert" class="disabled" mz-tooltip tooltip="Order by {{header}} not supported"></i>
  </a>
</div>