<div [ngClass]="{'opac-4': isLoading}">
  <ng-container *ngIf="data && data.length > 0" [ngSwitch]="type">
      <ng-container *ngSwitchCase="'product'">
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th></th>
              <th><app-sort-header field="" header="No." [params]="params" [disabled]="true"></app-sort-header></th>
              <th><app-sort-header field="name" [params]="params"></app-sort-header></th>
              <th><app-sort-header field="level" [params]="params"></app-sort-header></th>
              <th><app-sort-header field="time" [params]="params"></app-sort-header></th>
              <th><app-sort-header field="price" [params]="params"></app-sort-header></th>
              <th><app-sort-header field="profit" header="Profit/min" [disabled]="true"></app-sort-header></th>
              <th><app-sort-header field="source" [params]="params"></app-sort-header></th>
              <th><app-sort-header field="ingredients" [disabled]="true"></app-sort-header></th>
              <th *ngIf="isLoggedIn"><app-sort-header field="rating" [params]="params"></app-sort-header></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let index = index;">
              <td class="hide-on-med-and-down">{{index + 1 + paging?.startIndex}}.</td>
              <td><span class="inline-header">{{index + 1 + paging?.startIndex}}.</span><a [routerLink]="['/product', item.key]"><img src="assets/products/{{item.key}}.png" width="75" height="75" alt="{{item.key}}"></a></td>
              <td><span class="inline-header">Name</span><a appHighlight [search]="highlight" [routerLink]="['/product', item.key]">{{item.name}}</a></td>
              <td><span class="inline-header">Level</span>{{item.level}}</td>
              <td class="no-wrap">
                <span class="inline-header">Time</span> {{item.realProductionTime ? item.realProductionTime.split('.')[0] : ''}}
                <i *ngIf="item.isMastered" mz-icon icon="check" class="icon" mz-tooltip tooltip="{{item.productionTime}} x 85%"></i>
              </td>
              <td><span class="inline-header">Price</span>{{item.maxPrice | currency:'USD':"symbol-narrow":'1.0-0'}}</td>
              <td><span class="inline-header">Profit/min</span>{{item.profit | currency:'USD':"symbol-narrow":'1.2-2'}}</td>
              <td><span class="inline-header">Source</span><a appHighlight [search]="highlight" [routerLink]="['/source', item.source.key]">{{item.source.name}}</a></td>
              <td>
                <span class="inline-header">Ingredients</span>
                <div class="inline-chips">
                  <span *ngFor="let ingredient of item.ingredients, let last = last" class="chip rating-{{ingredient.rating}}">
                    <span>{{ingredient.quantity | number:'1.0-2'}}-</span><a appHighlight [search]="highlight" [routerLink]="['/product', ingredient.ingredientKey]">{{ingredient.ingredientName}}</a>
                  </span>
                </div>
              </td>
              <td *ngIf="isLoggedIn" class="center-align no-wrap">
                <span class="inline-header">Rating</span>
                <app-rating [(ngModel)]="item.rating" (change)="onUpdate(item)"></app-rating>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    
      <ng-container *ngSwitchCase="'source'">
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th></th>
              <th><app-sort-header field="" header="No." [params]="params" [disabled]="true"></app-sort-header></th>
              <th><app-sort-header field="name" [params]="params"></app-sort-header></th>
              <th><app-sort-header field="level" [params]="params"></app-sort-header></th>
              <th><app-sort-header field="products" [disabled]="true"></app-sort-header></th>
              <th *ngIf="isLoggedIn"><app-sort-header field="mastered" [params]="params"></app-sort-header></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let index = index;">
              <td class="hide-on-med-and-down">{{index + 1 + paging?.startIndex}}.</td>
              <td><span class="inline-header">{{index + 1 + paging?.startIndex}}.</span><a [routerLink]="['/source', item.key]"><img src="assets/sources/{{item.key}}.png" width="75" height="75" alt="{{item.key}}"></a></td>
              <td><span class="inline-header">Name</span><a appHighlight [search]="highlight" [routerLink]="['/source', item.key]">{{item.name}}</a></td>
              <td class="center-align"><span class="inline-header">Level</span>{{item.level}}</td>
              <td>
                <span class="inline-header">Products</span>
                <div class="inline-chips">
                  <span *ngFor="let product of item.products, let last = last" class="chip rating-{{product.rating}}">
                    <a appHighlight [search]="highlight" [routerLink]="['/product', product.key]">{{product.name}}</a>
                  </span>
                </div>
              </td>
              <td *ngIf="isLoggedIn" class="center-align">
                <span class="inline-header">Mastered</span>
                <input type="checkbox" [id]="item.key" [(ngModel)]="item.isMastered" (change)="onUpdate(item)" class="no-text" />
                <label [for]="item.key"></label>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
    
    <div class="center-align" *ngIf="data && data.length == 0">(No results)</div>
</div>