@import "src/variables";

.no-wrap {
  white-space: nowrap;
}

table {
  th {
    white-space: nowrap;
  }

  /deep/ i.material-icons {
    color: $accent-color;

    &[mz-tooltip] {
      cursor: help;
    }

    &.right {
      margin-left: inherit;
    }

    &.asc {
      transform: scale(1, -1);
    }

    &.desc {
      transform: inherit;
    }
  }
}

@media only screen and (min-width: 993px) {
  .rating-5 {
    zoom: 140%;
  }

  .rating-4 {
    zoom: 120%;
  }

  .rating-3 {
    zoom: 100%;
  }

  .rating-2 {
    zoom: 90%;
  }

  .rating-1 {
    zoom: 80%;
  }
}
