@import "src/variables";

mz-modal {
  /deep/ .modal.modal-fullscreen {
    overflow: hidden;
  }

  /deep/ .tap-target-wrapper {
      margin: -12px;
  }
}

#graph-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

#network-graph {
  transition: opacity 0.7s ease-in-out;
  height: 100vh;
}

mz-progress {
  transition: opacity 0.7s ease-in-out;

  /deep/ .progress {
    top: 45%;
    left: 19.10%;
    width: 61.80%;
  }

  /deep/ .progress-bar {
    transition: none;
  }
}
