<mz-modal #modal [fullscreen]="true">
  <mz-modal-content>
    <a mz-button id="graph-menu-btn" [float]="true" [flat]="true"><i mz-icon icon="more_vert" size="large"></i></a>
    <mz-progress [percentage]="progress" [style.opacity]="progress === 100 ? 0 : 1"></mz-progress>
    <div id="network-graph" [style.opacity]="progress === 100 ? 1 : 0" (contextmenu)="$event.preventDefault()"></div>

    <div appTapTarget #tapTarget class="tap-target" data-activates="graph-menu-btn">
      <div class="tap-target-content">
        <h5>Interactive map</h5>
        <p>Zoom, drag and click to explorer the network.<br/>Right click anywhere for more options.</p>
      </div>
    </div>

    <mz-dropdown #menu [id]="'graph-menu'" [constrainWidth]="false" dropdownButtonId="graph-menu-btn">
      <ng-container *ngIf="selectedProduct">
        <mz-dropdown-item><a (click)="navigateTo(selectedProduct)"><i mz-icon icon="place"></i>Go to {{getTitle(selectedProduct)}}</a></mz-dropdown-item>
      </ng-container>
      <ng-container *ngIf="productKey">
        <mz-dropdown-item><a (click)="navigateTo(null)"><i mz-icon icon="home"></i>Go Home</a></mz-dropdown-item>
      </ng-container>
      <mz-dropdown-divider></mz-dropdown-divider>
      <ng-container *ngIf="selectedProduct">
        <mz-dropdown-item><a (click)="graph.zoomFocus(selectedProduct)"><i mz-icon icon="fullscreen_exit"></i>Zoom to {{getTitle(selectedProduct)}}</a></mz-dropdown-item>
      </ng-container>
      <mz-dropdown-item><a (click)="graph.zoomFit()"><i mz-icon icon="fullscreen"></i>Zoom to Fit</a></mz-dropdown-item>
      <mz-dropdown-divider></mz-dropdown-divider>
      <mz-dropdown-item><a (click)="modal.close()"><i mz-icon icon="close"></i>Close</a></mz-dropdown-item>
    </mz-dropdown>
  </mz-modal-content>
</mz-modal>