div {
  background-color: #1D2124;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
  max-height: 85vh;
  max-width: 95vw;
  margin-bottom: 5vh;
}
