<mz-modal>
  <mz-modal-header>
    {{header}}
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div *ngIf="icon" class="col-md-3 text-center">
        <i mz-icon [icon]="icon" class="huge"></i>
      </div>
      <div [ngClass]="{'col-md-9': icon}" [innerHTML]="content"></div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <div [ngSwitch]="footerType">
      <div *ngSwitchCase="'OC'">
        <button mz-button mz-modal-close [flat]="true" (click)="callback(false)">Cancel</button>
        <button mz-button mz-modal-close [flat]="true" (click)="callback(true)">OK</button>
      </div>
      <div *ngSwitchCase="'YN'">
        <button mz-button mz-modal-close [flat]="true" (click)="callback(false)">No</button>
        <button mz-button mz-modal-close [flat]="true" (click)="callback(true)">Yes</button>
      </div>
      <div *ngSwitchDefault>
        <button mz-button mz-modal-close [flat]="true">Close</button>
      </div>
    </div>
  </mz-modal-footer>
</mz-modal>