<app-banner *ngIf="!isNew && source" [isLoading]="isLoading" [navigation]="navigation" imageSrc="assets/sources/{{source.key}}.png"></app-banner>
<app-banner *ngIf="isNew" [title]="'Create New Source'"></app-banner>
<div *ngIf="source" class="container my-5" [ngClass]="{'opac-7': isLoading}">
  <form name="form" (ngSubmit)="update()" novalidate>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <app-field [obj]="source" [isLoading]="isLoading" prop="name" label="Name"></app-field>
        <app-field [obj]="source" [isLoading]="isLoading" prop="level" label="Level" type="number"></app-field>
        <div class="row mb-0">
          <div class="col-md-12">
            <mz-collapsible *ngIf="source.sourceInstances && source.sourceInstances.length" mode="accordion">
              <mz-collapsible-item *ngFor="let instance of source.sourceInstances; let index = index;">
                <mz-collapsible-item-header>
                  #{{index + 1}}<mz-badge *ngIf="!(instance.cost && instance.buildTime)" value="new" caption="" [new]="true" class="ml-2"></mz-badge>
                  <a mz-button class="right-halfway-fab invert" [float]="true" (click)="removeInstance(index)"><i mz-icon icon="remove"></i></a>
                </mz-collapsible-item-header>
                <mz-collapsible-item-body>
                  <app-field [obj]="instance" prop="cost" label="Cost" type="number"></app-field>
                  <app-field [obj]="instance" prop="buildTime" label="Build Time" type="mask" [options]="maskOptions"></app-field>
                </mz-collapsible-item-body>
              </mz-collapsible-item>
            </mz-collapsible>
            <a mz-button class="bottom-halfway-fab accent" [float]="true" (click)="newInstance()">
              <i mz-icon icon="add"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="source" class="fixed-action-btn click-to-toggle">
    <a mz-button [float]="true" [large]="true" class="accent"><i mz-icon icon="keyboard_arrow_up"></i></a>
    <ul>
      <li><a mz-button [float]="true" [large]="true" class="accent red" routerLink="../" mz-tooltip tooltip="Cancel" position="left"><i mz-icon icon="clear"></i></a></li>
      <li><a mz-button [float]="true" [large]="true" class="accent blue" (click)="update()" mz-tooltip tooltip="Save" position="left"><i mz-icon icon="save"></i></a></li>
    </ul>
  </div>

<mz-spinner *ngIf="isFirstLoading" size="big"></mz-spinner>