label {
  align-self: center;
  font-size: 1rem;
  margin-bottom: inherit;
}

.input-container,
mz-input-container,
mz-select-container {
  padding: 0;

  &.dirty {
    input {
      padding-right: 56px;
    }

    .action {
      display: block;
    }
  }

  input {
    box-sizing: inherit;
  }

  .action {
    display: none;
    font-weight: 900;
    position: absolute;
    top: 10px;
    right: 0;
  }

  .loader {
    position: absolute;
    right: -10px;
    top: 6px;
  }

  /deep/ span.caret {
    display: none;
  }

  /deep/ .autocomplete-content {
    position: absolute;
    max-height: 280px;
    width: 100%;
  }
}

/deep/ .autocomplete-content.dropdown-content,
/deep/ .ng2-dropdown-menu {
  max-height: 240px !important;
}
