<div class="row mb-0">
  <label [for]="prop" class="col-md-3">{{label}}:</label>
  <div [ngSwitch]="type" class="col-md-9">
    <ng-container *ngSwitchCase="'date'">
      <div class="input-container" [ngClass]="{'dirty': isModified()}">
        <div class="input-field">
          <input appDatePicker [options]="options" [(ngModel)]="tmpValue" type="text" [name]="prop">
          <div class="loader"><mz-spinner class="inline" *ngIf="isLoading" size="tiny"></mz-spinner></div>
          <div class="action">
            <a href="#" (click)="accept()"><i mz-icon icon="check" class="green-text"></i></a>
            <a href="#" (click)="cancel()"><i mz-icon icon="close" class="red-text"></i></a>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <mz-select-container class="col-md-9" [ngClass]="{'dirty': isModified()}">
        <select mz-select placeholder="Choose one" [(ngModel)]="tmpValue" [name]="prop">
          <option *ngFor="let option of options.dataArray" [ngValue]="option.key" [attr.data-icon]="option.icon">{{option.name}}</option>
        </select>
        <div class="loader"><mz-spinner class="inline" *ngIf="isLoading" size="tiny"></mz-spinner></div>
        <div class="action">
          <a href="#" (click)="accept()"><i mz-icon icon="check" class="green-text"></i></a>
          <a href="#" (click)="cancel()"><i mz-icon icon="close" class="red-text"></i></a>
        </div>
      </mz-select-container>
    </ng-container>

    <ng-container *ngSwitchCase="'mask'">
      <mz-input-container *ngIf="options" class="col-md-9" [ngClass]="{'dirty': isModified()}">
        <input mz-input [textMask]="options" [(ngModel)]="tmpValue" type="text" [name]="prop" (keyup.enter)="accept()">
        <div class="loader"><mz-spinner class="inline" *ngIf="isLoading" size="tiny"></mz-spinner></div>
        <div class="action">
          <a href="#" (click)="accept()"><i mz-icon icon="check" class="green-text"></i></a>
          <a href="#" (click)="cancel()"><i mz-icon icon="close" class="red-text"></i></a>
        </div>
      </mz-input-container>
    </ng-container>

    <ng-container *ngSwitchCase="'autocomplete'">
      <mz-input-container class="col-md-9" [ngClass]="{'dirty': isModified()}">
        <input mz-input [(ngModel)]="tmpValue" type="text" [name]="prop" [autocomplete]="options" (keyup.enter)="accept()">
        <div class="loader"><mz-spinner class="inline" *ngIf="isLoading" size="tiny"></mz-spinner></div>
        <div class="action">
          <a href="#" (click)="accept()"><i mz-icon icon="check" class="green-text"></i></a>
          <a href="#" (click)="cancel()"><i mz-icon icon="close" class="red-text"></i></a>
        </div>
      </mz-input-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <mz-input-container class="col-md-9" [ngClass]="{'dirty': isModified()}">
        <input mz-input [(ngModel)]="tmpValue" [type]="type" [name]="prop" (keyup.enter)="accept()">
        <div class="loader"><mz-spinner class="inline" *ngIf="isLoading" size="tiny"></mz-spinner></div>
        <div class="action">
          <a href="#" (click)="accept()"><i mz-icon icon="check" class="green-text"></i></a>
          <a href="#" (click)="cancel()"><i mz-icon icon="close" class="red-text"></i></a>
        </div>
      </mz-input-container>
    </ng-container>

    <ng-container *ngSwitchCase="'custom'">
      <ng-content></ng-content>
    </ng-container>
  </div>
</div>