<app-banner [title]="'SOURCES'" [isLoading]="isLoading" [keyword]="params.q" placeholder="Sources..." (keywordChanged)="keywordChanged($event)" imageSrc="assets/sources.png">
  <p>
    Product sources are mostly machines used to produce all the various
    <a routerLink="/product">products</a> available in the game.
    <br> There are about 40 different sources in the game.
  </p>
</app-banner>

<div *ngIf="sources" class="container my-3">
  <app-paging id="top-paging" [total]="sources.paging.total" [params]="params">
    <div class="col-auto mx-3">
      <mz-dropdown [id]="'filter'" [dropdownButtonId]="'btn-filter'" [belowOrigin]="true" [constrainWidth]="false">
        <mz-dropdown-item *ngIf="isLoggedIn">
          <a [routerLink]="[]" [queryParams]="setupFilter('level<='+level)">Only available sources</a>
        </mz-dropdown-item>
        <mz-dropdown-item *ngIf="isLoggedIn">
          <a [routerLink]="[]" [queryParams]="setupFilter('mastered=true')">Only mastered sources</a>
        </mz-dropdown-item>
        <mz-dropdown-item>
          <a [routerLink]="[]" [queryParams]="setupFilter('level>1,products.count()>1,order<>17')">Only production building</a>
        </mz-dropdown-item>
      </mz-dropdown>
      <div id="btn-filter" class="material-dropdown">
        Add Filtering
        <i mz-icon icon="arrow_drop_down" align="right"></i>
      </div>
    </div>
  </app-paging>
  <app-table type="source" [data]="sources.items" [paging]="sources.paging" [highlight]="params.q" [isLoggedIn]="isLoggedIn" [isLoading]="isLoading" [params]="params" (update)="updateMastery($event)"></app-table>
  <app-paging id="bottom-paging" [total]="sources.paging.total" [params]="params"></app-paging>
</div>

<div *ngIf="sources && isAdmin" class="fixed-action-btn">
  <a mz-button [float]="true" [large]="true" class="accent" routerLink="/source/new" mz-tooltip tooltip="New" position="left"><i mz-icon icon="add"></i></a>
</div>
