@import 'src/variables';

main {
  padding-bottom: 150px;
}

footer {
  background-color: $invert-background-color;
  color: $invert-text-color;
  height: 150px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  a {
    color: $secondary-accent-color;

    &:hover {
      color: inherit;
    }
  }
}

nav {
  a {
    min-width: 150px;
    padding: 0 40px;
    color: inherit;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  /deep/ .dropdown-content {
    a {
      width: 160px;
    }
  }

  #navbar /deep/ nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 8;
    background-color: $background-color;

    #sidenav-id {
      min-width: 0;
      height: 64px;
      padding: 0 20px;
      white-space: nowrap;
      overflow: hidden;

      .icon {
        line-height: 64px;
        height: 64px;
      }
    }

    #web-title {
      height: 64px;
      padding: 0;
      margin-top: -2px;
      white-space: nowrap;
      overflow: hidden;
      text-align: left;

      .content {
        transition: transform 0.4s ease-in-out;
      }
    }

    #avatar {
      min-width: 0;
      display: inline-block;
      padding: 0 12px 0px 15px;
      
      img {
        margin-top: -5px;
      }
    }

    mz-dropdown-item {
      span {
        width: 180px;
        color: inherit;

        i {
          height: inherit;
          line-height: inherit;
        }
      }
    }
  }

  #navbar.scrolled /deep/ nav {
    background-color: $invert-background-color;

    a, a > i.material-icons {
      color: $invert-text-color;
    }

    mz-dropdown-item {
      a, a > i.material-icons {
        color: inherit;
      }
    }

    #web-title .content {
      transform: translate(0px, -64px);

      &:hover {
        transform: translate(0, 0);
      }
    }
  }

  mz-sidenav {
    #backdrop {
      position: absolute;
      width: 100%;
      height: 168px;
      z-index: -7;
      overflow: hidden;

      img {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }

    a {
      text-align: inherit;
    }

    #user-view {
      padding: 28px 32px 16px;
      height: 168px;

      .avatar {
        margin-bottom: 10px;
      }

      .name {
        font-size: 1.25rem;
        font-weight: 400;
        color: $invert-text-color;
      }

      .email, .level {
        font-size: 1rem;
        font-weight: 300;
        color: $invert-text-color;
      }
    }

    .info {
      display: block;
      height: auto;
      line-height: 24px;
      padding: 0;
      margin-bottom: 0;
    }

    .info:hover {
      cursor: text;
    }
  }
}
