<header>
  <nav>
    <!-- Navbar -->
    <mz-navbar appScroll id="navbar">
      <a id="sidenav-id" class="left">
        <i mz-icon icon="menu" class="icon"></i>
      </a>
      <a id="web-title" routerLink="/" class="web-title left">
        <div class="content">
          <div>{{getWebTitle()}}</div>
          <div>{{getPageTitle()}}</div>
        </div>
      </a>
      <mz-navbar-item-container align="right" class="hide-on-med-and-down">
        <mz-navbar-item [active]="router.isActive('/product', false)"><a routerLink="/product">Products</a></mz-navbar-item>
        <mz-navbar-item [active]="router.isActive('/source', false)"><a routerLink="/source">Sources</a></mz-navbar-item>
        <mz-navbar-item [active]="router.isActive('/planning', false)"><a routerLink="/planning">Planning</a></mz-navbar-item>
        <mz-navbar-item [hidden]="user" [active]="router.isActive('/login', false)">
          <a [hidden]="router.isActive('/login', false)" routerLink="/login" [queryParams]="{ returnUrl: router.url }">Login</a>
          <a [hidden]="!router.isActive('/login', false)" routerLink="/login">Login</a>
        </mz-navbar-item>
        <mz-navbar-item [hidden]="!user" [active]="router.isActive('/profile', false)">
          <a id="avatar"><img *ngIf="user" class="circle" [src]="user.avatar ? user.avatar : 'assets/avatar.png'" width="50px"></a>
        </mz-navbar-item>
        <mz-dropdown [id]="'dropdown-avatar'" [dropdownButtonId]="'avatar'" [belowOrigin]="true" [stopPropagation]="true" [constrainWidth]="false">
          <mz-dropdown-item><a routerLink="/profile"><i mz-icon icon="person"></i>Profile</a></mz-dropdown-item>
          <mz-dropdown-item><a (click)="logout()"><i mz-icon icon="exit_to_app"></i>Log out</a></mz-dropdown-item>
        </mz-dropdown>
      </mz-navbar-item-container>
    </mz-navbar>

    <!-- Sidenav -->
    <mz-sidenav [id]="'sidenav'" [closeOnClick]="true" collapseButtonId="sidenav-id">
      <mz-sidenav-header>
        <div id="backdrop">
          <img src="assets/backdrop.png">
        </div>
        <div id="user-view" *ngIf="!user">
        </div>
        <div id="user-view" *ngIf="user">
          <img class="circle avatar" [src]="user.avatar ? user.avatar : 'assets/avatar.png'" width="70px">
          <label class="info name">{{user.name}}<span *ngIf="user.level"> (Lvl {{user.level}})</span></label>
          <label class="info email">{{user.email}}</label>
        </div>
      </mz-sidenav-header>
      <mz-sidenav-link [active]="router.isActive('', true)"><a routerLink=""><i mz-icon icon="home" align="left"></i>Home</a></mz-sidenav-link>
      <mz-sidenav-link [active]="router.isActive('/product', false)"><a routerLink="/product"><i mz-icon icon="view_list" align="left"></i>Products</a></mz-sidenav-link>
      <mz-sidenav-link [active]="router.isActive('/source', false)"><a routerLink="/source"><i mz-icon icon="widgets" align="left"></i>Sources</a></mz-sidenav-link>
      <mz-sidenav-link [active]="router.isActive('/planning', false)"><a routerLink="/planning"><i mz-icon icon="developer_board" align="left"></i>Planning</a></mz-sidenav-link>
      <mz-sidenav-divider></mz-sidenav-divider>
      <mz-sidenav-link [active]="router.isActive('/login', false)" [hidden]="user">
        <a [hidden]="router.isActive('/login', false)" routerLink="/login" [queryParams]="{returnUrl: router.url}"><i mz-icon icon="account_circle" align="left"></i>Login</a>
        <a [hidden]="!router.isActive('/login', false)"><i mz-icon icon="account_circle" align="left"></i>Login</a>
      </mz-sidenav-link>
      <mz-sidenav-link [active]="router.isActive('/profile', false)" [hidden]="!user"><a routerLink="/profile"><i mz-icon icon="person" align="left"></i>Profile</a></mz-sidenav-link>
      <mz-sidenav-link [hidden]="!user"><a (click)="logout()"><i mz-icon icon="exit_to_app" align="left"></i>Logout</a></mz-sidenav-link>
    </mz-sidenav>
  </nav>
</header>

<!-- Content -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="web-title">Hay Day Helper</div>
    <p>Database, tool, calculator for pro Hay Day players</p>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2017 TNT
      <a class="right" href="mailto:tnt1232007@gmail.com">tnt1232007@gmail.com</a>
    </div>
  </div>
</footer>