<div class="fluid-container">
  <div appScroll class="detail-container">
    <div class="row row-eq-height my-0 justify-content-center">
      <a mz-button class="icon detail-nav col-md" *ngIf="navigation && navigation.previous" [flat]="true" [routerLink]="[navigation.url.format(navigation.previous.key)]" [queryParams]="setupParams(params)" (click)="navigate(navigation.previous.key)">
        <i mz-icon icon="chevron_left" size="large"></i>
      </a>
      <a mz-button class="icon detail-nav col-md" *ngIf="navigation && !navigation.previous" [flat]="true" [disabled]="true" mz-tooltip tooltip="First item reached">
        <i mz-icon icon="chevron_left" size="large"></i>
      </a>
      <div *ngIf="imageSrc" class="detail-img col-md-2 center my-auto pt-5 pb-md-5" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
        <img appMaterialBox [src]="imageSrc" class="materialboxed">
        <em *ngIf="navigation" class="detail-nav-help">(Swipe left or right)</em>
      </div>
      <div class="col-md-4 pl-5 py-5">
        <span class="page-title">{{title}}</span>
        <ng-content></ng-content>
      </div>
      <a mz-button class="icon detail-nav col-md" *ngIf="navigation && navigation.next" [flat]="true" [routerLink]="[navigation.url.format(navigation.next.key)]" [queryParams]="setupParams(params)" (click)="navigate(navigation.next.key)">
        <i mz-icon icon="chevron_right" size="large"></i>
      </a>
      <a mz-button class="icon detail-nav col-md" *ngIf="navigation && !navigation.next" [flat]="true" [disabled]="true" mz-tooltip tooltip="Last item reached">
        <i mz-icon icon="chevron_right" size="large"></i>
      </a>
    </div>
  </div>

  <div appScroll *ngIf="keywordChanged.observers.length > 0" class="search-container" [ngClass]="keyword ? 'z-depth-1' : 'z-depth-half'">
    <div class="container">
      <div class="row mb-0">
        <a mz-button [float]="true" [flat]="true" disabled>
          <i mz-icon icon="search"></i>
        </a>
        <input type="search" [(ngModel)]="keyword" [formControl]="keywordInput" [placeholder]="placeholder" class="col">
        <a mz-button *ngIf="keyword" (click)="keywordChanged_('')" [float]="true" [flat]="true">
          <i mz-icon icon="close"></i>
        </a>
      </div>
    </div>
    <mz-progress [hidden]="!isLoading"></mz-progress>
  </div>
</div>