@import "src/variables";

.detail-container {
  background-color: $invert-background-color;
  color: $invert-text-color;
  height: 100%;

  /deep/ a {
    color: $secondary-accent-color;

    &:hover {
      color: inherit;
    }
  }

  /deep/ i.material-icons {
    color: $invert-text-color;
  }

  /deep/ .rate i.material-icons {
    color: $secondary-accent-color;
  }

  /deep/ [type="checkbox"].no-text {
    &+label {
      &:before, &:after {
        border-color: $invert-text-color;
      }
    }
    &:checked+label {
      &:before {
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: $invert-text-color;
        border-bottom-color: $invert-text-color;
      }
    }
  }

  .detail-nav {
    height: inherit;

    i {
      font-size: 3rem;
      vertical-align: middle;
    }

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    @include respond-to(phones) {
      display: none;
    }
  }

  .detail-nav-help {
    display: none;

    @include respond-to(phones) {
      display: inherit;
    }
  }

  .detail-img {
    img {
      width: 210px;
    }

    em {
      display: none;

      @include respond-to(phones) {
        display: inherit;
      }
    }
  }

  .detail-info {
    @include respond-to(phones) {
      text-align: center;
    }

    table {
      th, td {
        padding: 5px;
        @include respond-to(phones) {
          text-align: center;
        }
      }

      .icon {
        line-height: 1.5;
      }
    }
  }

  &.scrolled {
    margin-top: 64px;
    visibility: hidden;
  }

  .page-title {
    @include respond-to(phones) {
      text-align: center;
    }
  }
}

.search-container {
  .container {
    position: relative;
  }

  a {
    color: $secondary-text-color;
    margin-top: 14px;

    &[disabled] {
      background-color: inherit !important;
    }
  }

  input {
    display: inline-block;
    width: inherit;
    box-sizing: inherit;
    margin: 0;
    font-size: 1.5rem;
    line-height: 64px;
    height: 64px;
    border: none;

    &:focus {
      border: none !important;
      box-shadow: none !important;
    }
  }

  &.scrolled {
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 7;
    background-color: $background-color;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); // .z-depth-2
  }
}