<app-banner *ngIf="source" [isLoading]="isLoading" [navigation]="navigation" [params]="params" placeholder="Products..." (keywordChanged)="searchProducts($event)" imageSrc="assets/sources/{{source.key}}.png">
  <table [ngClass]="{'opac-4': isLoading}">
    <tbody>
      <tr>
        <th><i mz-icon icon="vpn_key" class="icon" mz-tooltip tooltip="Level"></i></th>
        <td>Lv {{source.level}}</td>
        <ng-container *ngIf="isLoggedIn">
          <th>
            <input type="checkbox" [id]="source.key" [(ngModel)]="source.isMastered" (change)="updateMastery(source)" class="no-text"/>
            <label [for]="source.key" mz-tooltip tooltip="Mastery<br />(click to change)" html="true"></label>
          </th>
          <td><label [for]="source.key">Mastered</label></td>
        </ng-container>
      </tr>
      <tr *ngFor="let instance of source.sourceInstances; let index = index">
        <th>
          <i mz-icon *ngIf="index == 0" icon="local_offer" class="icon" mz-tooltip tooltip="Cost"></i>
          <i mz-icon *ngIf="index != 0" icon="plus_one" class="icon"></i>
        </th>
        <td>{{instance.cost}}</td>
        <th>
          <i mz-icon *ngIf="index == 0" icon="watch_later" class="icon" mz-tooltip tooltip="Building Time<br/>(d.HH:mm:ss)" html="true"></i>
          <i mz-icon *ngIf="index != 0" icon="plus_one" class="icon"></i>
        </th>
        <td>{{instance.buildTime}}</td>
      </tr>
    </tbody>
  </table>
</app-banner>

<div [hidden]="!products" class="container my-3" [ngClass]="{'opac-7': isLoading}">
  <div class="row">
    <div class="col-md-4">
      <mz-card [hoverable]="true" class="chart-card">
        <mz-card-title>
          Price ($)
        </mz-card-title>
        <mz-card-content>
          <div class="row">
            <div class="col-md-12">
              <canvas baseChart [datasets]="priceChartInfo.chartData" [labels]="priceChartInfo.chartLabels" [colors]="priceChartInfo.chartColors"
                [options]="priceChartInfo.chartOptions" [legend]="false" chartType="doughnut"></canvas>
            </div>
          </div>
        </mz-card-content>
      </mz-card>
    </div>
    <div class="col-md-4">
      <mz-card [hoverable]="true" class="chart-card">
        <mz-card-title>
          Profit ($ per minute)
        </mz-card-title>
        <mz-card-content>
          <div class="row">
            <div class="col-md-12">
              <canvas baseChart [datasets]="profitChartInfo.chartData" [labels]="profitChartInfo.chartLabels" [colors]="priceChartInfo.chartColors"
                [options]="profitChartInfo.chartOptions" [legend]="false" chartType="pie"></canvas>
            </div>
          </div>
        </mz-card-content>
      </mz-card>
    </div>
    <div class="col-md-4">
      <mz-card [hoverable]="true" class="chart-card">
        <mz-card-title>
          Production Time (minutes)
        </mz-card-title>
        <mz-card-content>
          <div class="row">
            <div class="col-md-12">
              <canvas baseChart [datasets]="timeChartInfo.chartData" [labels]="timeChartInfo.chartLabels" [colors]="priceChartInfo.chartColors"
                [options]="timeChartInfo.chartOptions" [legend]="false" chartType="doughnut"></canvas>
            </div>
          </div>
        </mz-card-content>
      </mz-card>
    </div>
  </div>

  <div class="row justify-content-center legend">
    <div class="col no-padding" *ngFor="let item of chart.chart.legend.legendItems">
      <div class="legend-block" [style.backgroundColor]='item.fillStyle'></div>
      <div class="legend-label">{{item.text}}</div>
    </div>
  </div>

  <app-table *ngIf="products" type="product" [data]="products" [isLoggedIn]="isLoggedIn" [params]="params" (update)="updateRating($event)"></app-table>
</div>

<div *ngIf="source && isAdmin" class="fixed-action-btn click-to-toggle">
  <a mz-button [float]="true" [large]="true" class="accent"><i mz-icon icon="keyboard_arrow_up"></i></a>
  <ul>
    <li><a mz-button [float]="true" [large]="true" class="accent red" routerLink="/source/new" mz-tooltip tooltip="New" position="left"><i mz-icon icon="add"></i></a></li>
    <li><a mz-button [float]="true" [large]="true" class="accent blue" routerLink="edit" mz-tooltip tooltip="Edit" position="left"><i mz-icon icon="mode_edit"></i></a></li>
  </ul>
</div>

<mz-spinner *ngIf="isFirstLoading" size="big"></mz-spinner>