app-banner {
  td {
    white-space: nowrap;

    label {
      color: inherit;
      margin-bottom: inherit;
      font-size: inherit;
    }
  }
}

.legend {
  .col {
    max-width: 160px;
  }

  .legend-block {
    height: 30px;
  }

  .legend-label {
    text-align: center;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}