@import 'src/variables';

#plan {
  min-height: 310px;
}

.product,
.plan-product {
  max-width: 155px;

  .card {
    cursor: move;
  }

  mz-card {
    img {
      transition: .5s ease;
    }

    .overlay {
      transition: .5s ease;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    &:hover {
      img {
        opacity: 0.3;
      }

      .overlay {
        opacity: 1;
      }

      .close {
        opacity: 0.7;
      }
    }
  }
}

#drop-alt {
  position: absolute;
  margin-top: 50px;
  top: 0;
}

#drop-zone, #result-zone {
  background-color: transparent;
  min-height: 215px;
  overflow-x: auto;
}

.btn-floating.halfway-fab /deep/ .preloader-wrapper{
  background-color: inherit;
  top: 10px;

  .spinner-layer {
    border-color: white;
  }
}

mz-sidenav {
  #backdrop {
    position: absolute;
    width: 100%;
    height: 168px;
    z-index: -7;
    overflow: hidden;

    img {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
  
  #header-view {
    padding: 28px 32px 16px;
    height: 168px;

    .header {
      font-size: 2.75rem;
      font-weight: 300;
      line-height: 1.3;
      color: $invert-text-color;
    }
  }

  .info {
    display: block;
    height: auto;
    line-height: 24px;
    padding: 0;
    margin-bottom: 0;
  }

  mz-collapsible.scrollable {
    /deep/ .collapsible {
      max-height: calc(100vh - 168px - 16px);
      overflow-y: auto;
    }
  }

  .source-name {
    width: 85px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 993px) {
  .scrolled {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: 6;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); // .z-depth-2
  }
}