<app-banner [title]="'PLANNING'" [isLoading]="isLoading" placeholder="Products..." (keywordChanged)="keywordChanged($event)"
  imageSrc="assets/tasks.png">
  <p>
    Planning tool help calculate
    <b>WHAT</b>,
    <b>HOW MANY</b> and
    <b>HOW LONG</b>
    it took to produce all the ingredients needed for selected products.
  </p>
</app-banner>

<div id="plan" *ngIf="plans && !isLoading" class="container my-3">
  <mz-tab [onShow]="tabChanged">
    <mz-tab-item *ngFor="let plan of plans; let index = index;" label="Plan {{index + 1}}" [active]="activePlan == plan">
      <mz-card appScroll class="m-0">
        <mz-card-content>
          <div class="row flex-nowrap align-items-center mb-0">
            <div class="col-auto d-flex flex-column">
              <button mz-button type="button" [float]="true" [flat]="true" (click)="newPlan()" mz-tooltip tooltip="New Plan">
                <i mz-icon icon="add"></i>
              </button>
              <button *ngIf="plans.length > 1" mz-button type="button" [float]="true" [flat]="true" (click)="deletePlanWithConfirmation(plan)" mz-tooltip tooltip="Delete Plan">
                <i mz-icon icon="remove"></i>
              </button>
            </div>

            <p id="drop-alt" class="col display-4 text-secondary opac-7 py-5 center" *ngIf="plan.products.length == 0">Drop desired products here</p>

            <div id="drop-zone" class="col row flex-nowrap align-items-center mb-0" dragula="products-bag" [dragulaModel]="plan.products">
              <div class="plan-product col-auto center" *ngFor="let product of plan.products">
                <button mz-button type="button" [flat]="true" (click)="changeQuantity(product, +1)">
                  <i mz-icon icon="keyboard_arrow_up"></i>
                </button>
                <mz-card [hoverable]="true" class="m-0" (mousewheel)="mouseScrolled(product, $event)">
                  <mz-card-content>
                    <img class="opac-4" src="{{product.icon}}" width="75" height="75" alt="{{product.key}}">
                    <div class="caption text-center">{{product.name}}</div>
                    <div class="overlay display-4 opac-7">{{product.quantity}}</div>
                    <button type="button" class="close opac-0" (click)="removePlanProduct(product)">
                      <i mz-icon icon="clear"></i>
                    </button>
                  </mz-card-content>
                </mz-card>
                <button mz-button type="button" [flat]="true" (click)="changeQuantity(product, -1)">
                  <i mz-icon icon="keyboard_arrow_down"></i>
                </button>
              </div>
            </div>
          </div>

          <a mz-button class="halfway-fab accent" [float]="true" [large]="true" [ngClass]="{'pulse': isPulse}" (click)="sideresults.opened = !sideresults.opened; isPulse = false;" mz-tooltip tooltip="Show result">
            <mz-spinner *ngIf="isCalculating" class="inline" size="small"></mz-spinner>
            <i *ngIf="!isCalculating" mz-icon icon="chrome_reader_mode"></i>
          </a>
        </mz-card-content>
      </mz-card>
    </mz-tab-item>
  </mz-tab>
</div>

<div class="container mt-5">
  <div class="row justify-content-center" dragula="products-bag" [dragulaModel]='products'>
    <div class="product col-auto center" *ngFor="let product of products">
      <mz-card [hoverable]="true">
        <mz-card-content>
          <img src="{{product.icon}}" width="75" height="75" alt="{{product.key}}">
          <span class="caption text-center">{{product.name}}</span>
          <button type="button" class="close opac-0" (click)="addPlanProduct(product)">
            <i mz-icon icon="add"></i>
          </button>
        </mz-card-content>
      </mz-card>
    </div>
  </div>
</div>

<div *ngIf="isLoggedIn && plans" class="fixed-action-btn click-to-toggle">
  <a mz-button [float]="true" [large]="true" class="accent">
    <i mz-icon icon="keyboard_arrow_up"></i>
  </a>
  <ul>
    <li>
      <a mz-button [float]="true" [large]="true" class="accent red" (click)="reloadPlans()" mz-tooltip tooltip="Restore" position="left">
        <i mz-icon icon="restore"></i>
      </a>
    </li>
    <li>
      <a mz-button [float]="true" [large]="true" class="accent blue" (click)="savePlans()" mz-tooltip tooltip="Save" position="left">
        <i mz-icon icon="save"></i>
      </a>
    </li>
  </ul>
</div>

<div *ngIf="!isLoggedIn" class="fixed-action-btn click-to-toggle">
  <a mz-button [float]="true" [large]="true" class="accent orange">
    <i mz-icon icon="priority_high" mz-tooltip tooltip="Login is required to save plans" position="left"></i>
  </a>
</div>

<mz-sidenav #sideresults [id]="'side-results'" [closeOnClick]="true" edge="right">
  <mz-sidenav-header>
    <div id="backdrop">
      <img src="assets/backdrop.png">
    </div>
    <div id="header-view">
      <label class="info header">Plan Statistics</label>
    </div>
  </mz-sidenav-header>
  <mz-collapsible class="scrollable" mode="expandable">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon icon="arrow_drop_down"></i>Direct Ingredients
      </mz-collapsible-item-header>
      <mz-collapsible-item-body *ngIf="activePlan && activePlan.result">
        <mz-sidenav-link *ngFor="let ingredient of activePlan.result.directIngredients">
          <a [routerLink]="['/product', ingredient.key]">
            <img class="icons" src="{{ingredient.icon}}" width="40" height="40" alt="{{ingredient.key}}"> {{ingredient.name}}
            <mz-badge [value]="ingredient.quantity" caption=""></mz-badge>
          </a>
        </mz-sidenav-link>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon icon="arrow_drop_down"></i>Core Ingredients
      </mz-collapsible-item-header>
      <mz-collapsible-item-body *ngIf="activePlan && activePlan.result">
        <mz-sidenav-link *ngFor="let ingredient of activePlan.result.coreIngredients">
          <a [routerLink]="['/product', ingredient.key]" target="_blank">
            <img class="icons" src="{{ingredient.icon}}" width="40" height="40" alt="{{ingredient.key}}"> {{ingredient.name}}
            <mz-badge [value]="ingredient.quantity | number:'1.0-2'" caption=""></mz-badge>
          </a>
        </mz-sidenav-link>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        <i mz-icon icon="arrow_drop_down"></i>Production Time
      </mz-collapsible-item-header>
      <mz-collapsible-item-body *ngIf="activePlan && activePlan.result">
        <mz-sidenav-link *ngFor="let source of activePlan.result.productionTimes">
          <a [routerLink]="['/source', source.key]" target="_blank" class="position-relative">
            <img class="icons" src="{{source.icon}}" width="40" height="40" alt="{{source.key}}">
            <span class="source-name">{{source.name}}</span>
            <mz-badge [value]="source.productionTime" caption=""></mz-badge>
          </a>
        </mz-sidenav-link>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</mz-sidenav>