<app-banner *ngIf="user" [title]="user.name" [isLoading]="isLoading" imageSrc="{{user.avatar ? user.avatar : 'assets/avatar.png'}}">
  <div class="sub-title">{{user.email}}</div>
</app-banner>

<div *ngIf="user" class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form id="profile-form" name="form" (ngSubmit)="update()" novalidate>
        <br>
        <app-field [obj]="user" prop="name" label="Name" [update]="update()"></app-field>
        <app-field [obj]="user" prop="level" label="Level" [update]="update()" type="number"></app-field>
        <app-field [obj]="user" prop="dob" label="Date of birth" [update]="update()" type="date" [options]="dobOptions"></app-field>
        <app-field [obj]="user" prop="country" label="Country" [update]="update()" type="autocomplete" [options]="countryOptions"></app-field>
        <app-field [obj]="user" prop="phone" label="Phone" [update]="update()"></app-field>
        <app-field [obj]="user" prop="avatar" label="Avatar" [update]="update()"></app-field>
        <br>
      </form>
    </div>
  </div>
</div>

<mz-spinner *ngIf="isLoading" size="big"></mz-spinner>