@import "src/variables";
.sub-title {
  font-size: 1.2rem;
  font-weight: 300;
  @include respond-to(phones) {
    text-align: center;
  }
}

#profile-form {
  /deep/ .select-dropdown li img,
  /deep/ .autocomplete-content li img {
    height: 26px;
    width: 40px;
    margin: 12px 15px;
    float: right;
  }
  
  /deep/ .autocomplete-content li img.circle {
    border-radius: inherit;
  }
}