<mz-modal #modal [fullscreen]="true">
  <mz-modal-content>
    <a mz-button id="chart-menu-btn" class="float-right" [float]="true" [flat]="true"><i mz-icon icon="more_vert" top="large"></i></a>
    <mz-spinner *ngIf="isLoading" size="big"></mz-spinner>
    <div id="usage-chart" class="row" [style.opacity]="!isLoading ? 1 : 0">
      <div class="col-xl-3 col-md-12 scrollable">
        <mz-collapsible mode="expandable">
          <mz-collapsible-item [active]="!(mediaService.isActive('lt-l') | async)">
            <mz-collapsible-item-header>
              <i mz-icon icon="arrow_drop_down"></i>Sort by<mz-badge [value]="sortBy" caption="" [new]="true"></mz-badge>
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <mz-radio-button-container>
                <input mz-radio-button id="sort-time" label="Required Time" value="time" name="sort-radio-group" type="radio" [(ngModel)]="sortBy" (ngModelChange)="sourceChanged()" />
              </mz-radio-button-container>
              <mz-radio-button-container>
                <input mz-radio-button id="sort-value" label="Used Count" value="count" name="sort-radio-group" type="radio" [(ngModel)]="sortBy" (ngModelChange)="sourceChanged()" />
              </mz-radio-button-container>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <mz-collapsible-item [active]="!(mediaService.isActive('lt-l') | async)">
            <mz-collapsible-item-header>
              <i mz-icon icon="arrow_drop_down"></i>Show top<mz-badge [value]="showTop" caption="" [new]="true"></mz-badge>
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <mz-radio-button-container>
                <input mz-radio-button id="top-10" label="10" [value]="10" name="top-radio-group" type="radio" [(ngModel)]="showTop" (ngModelChange)="sourceChanged()" />
              </mz-radio-button-container>
              <mz-radio-button-container>
                <input mz-radio-button id="top-20" label="20" [value]="20" name="top-radio-group" type="radio" [(ngModel)]="showTop" (ngModelChange)="sourceChanged()" />
              </mz-radio-button-container>
              <mz-radio-button-container>
                <input mz-radio-button id="top-30" label="30" [value]="30" name="top-radio-group" type="radio" [(ngModel)]="showTop" (ngModelChange)="sourceChanged()" />
              </mz-radio-button-container>
              <mz-radio-button-container>
                <input mz-radio-button id="top-40" label="40" [value]="40" name="top-radio-group" type="radio" [(ngModel)]="showTop" (ngModelChange)="sourceChanged()" />
              </mz-radio-button-container>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <mz-collapsible-item>
            <mz-collapsible-item-header>
              <i mz-icon icon="arrow_drop_down"></i>Filter by sources<mz-badge [value]="getSelectedSourcesCount()" caption="" [new]="true"></mz-badge>
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <p>
                <mz-checkbox-container>
                  <input mz-checkbox label="Check/Uncheck All" id="check-all" type="checkbox" [(ngModel)]="checkState" (ngModelChange)="checkAll()">
                </mz-checkbox-container>
              </p>
              <p *ngFor="let item of sources" class="col-md-12">
                <mz-checkbox-container>
                  <input mz-checkbox [label]="item.name" [id]="item.key" type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="sourceChanged()">
                </mz-checkbox-container>
              </p>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
        </mz-collapsible>
      </div>
      <div class="col-xl-9 col-md-12">
        <div class="chart-container" (contextmenu)="oncontext($event)">
          <canvas baseChart chartType="bar" [datasets]="productChart.chartData" [labels]="productChart.chartLabels" [options]="productChart.chartOptions" [colors]="productChart.chartColors" height="120"></canvas>
        </div>
      </div>
    </div>

    <div appTapTarget #tapTarget class="tap-target" data-activates="chart-menu-btn">
      <div class="tap-target-content">
        <h5>Interactive chart</h5>
        <p>Hover, right click on chart area to interact.<br/><br/></p>
      </div>
    </div>

    <mz-dropdown #menu [id]="'chart-menu'" [constrainWidth]="false" dropdownButtonId="chart-menu-btn">
      <ng-container *ngIf="selectedProduct">
        <mz-dropdown-item><a [routerLink]="['/product', selectedProduct.key]" (click)="modal.close()"><i mz-icon icon="view_list"></i>Go to {{selectedProduct.name}}</a></mz-dropdown-item>
        <mz-dropdown-item><a [routerLink]="['/source', selectedSource.key]" (click)="modal.close()"><i mz-icon icon="widgets"></i>Go to {{selectedSource.name}}</a></mz-dropdown-item>
        <mz-dropdown-item><a (click)="hideSource(selectedSource.key)"><i mz-icon icon="visibility_off"></i>Hide products from {{selectedSource.name}}</a></mz-dropdown-item>
        <mz-dropdown-divider></mz-dropdown-divider>
      </ng-container>
      <mz-dropdown-item><a (click)="randomizeColors()"><i mz-icon icon="color_lens"></i>Randomize colors</a></mz-dropdown-item>
      <mz-dropdown-item><a (click)="modal.close()"><i mz-icon icon="close"></i>Close</a></mz-dropdown-item>
    </mz-dropdown>
  </mz-modal-content>
</mz-modal>