mz-modal {
  /deep/ .tap-target-wrapper {
      margin: -12px;
  }
}

#usage-chart {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  margin: 15px 0;

  .scrollable {
    max-height: calc(100vh - 60px);
    overflow-y: auto; 
  }

  .chart-container {
    margin: 30px 0 0 0;
  }
}

#chart-menu-btn {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
