@import 'src/variables';

#login-group {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;

  /deep/ .collapsible-body {
    padding: 0;
  }

  /deep/ .collapsible {
    border: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .collapsible-item-body {
    padding: 0 2rem;
    margin-top: 1.5rem;
  }

  button {
    height: 45px;
    line-height: 28px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    background-color: inherit;
    color: inherit;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    text-transform: none;
    text-align: inherit;

    &:hover, &:focus {
      color: $invert-text-color;
    }
  }

  .btn-gg {
    &:hover, &:focus {
      background-color: #DD4B39;
    }
  }

  .btn-fb {
    &:hover, &:focus {
      background-color: #3B5998;
    }
  }

  .btn-tw {
    &:hover, &:focus {
      background-color: #55ACEE;
    }
  }

  .btn-git {
    &:hover, &:focus {
      background-color: #4183C4;
    }
  }

  .btn-email {
    &:hover, &:focus {
      background-color: $invert-background-color;
    }
  }
}

.progress {
  position: inherit;
  margin-top: -2px !important;
}

.alert {
  margin-bottom: 0;
}