<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<app-banner [title]="'LOGIN'" imageSrc="assets/logo.png">
  <p>
    Login to rate products and master production building
  </p>
</app-banner>

<main class="container my-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div id="login-group" class="z-depth-1">
        <mz-collapsible mode="accordion">
          <mz-collapsible-item [active]="true">
            <mz-collapsible-item-header>
              <i class="fa fa-users left"></i>Social Network
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <div id="social-buttons">
                <button mz-button type="button" class="btn-gg btn-block" (click)="useProvider('google')"><i class="fa fa-google left"></i>Google<i class="fa fa-angle-right white-text right"></i></button>
                <button mz-button type="button" class="btn-fb btn-block" (click)="useProvider('facebook')"><i class="fa fa-facebook left"></i>Facebook<i class="fa fa-angle-right white-text right"></i></button>
                <button mz-button type="button" class="btn-tw btn-block" (click)="useProvider('twitter')"><i class="fa fa-twitter left"></i>Twitter<i class="fa fa-angle-right white-text right"></i></button>
                <button mz-button type="button" class="btn-git btn-block" (click)="useProvider('github')"><i class="fa fa-github left"></i>Github<i class="fa fa-angle-right white-text right"></i></button>
              </div>
              <div *ngIf="providerError" class="alert alert-danger" role="alert">
                {{providerError}}
              </div>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <mz-collapsible-item>
            <mz-collapsible-item-header>
              <i class="fa fa-envelope left"></i>Hay Day Helper
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <form name="form" #f="ngForm" (ngSubmit)="login(user.email, user.password)" novalidate>
                <div class="collapsible-item-body">
                  <mz-input-container>
                    <input mz-input [(ngModel)]="user.email" type="email" name="email" label="Email" required>
                  </mz-input-container>
                  <mz-input-container>
                    <input mz-input [(ngModel)]="user.password" type="password" name="password" label="Password">
                  </mz-input-container>
                </div>
                <button mz-button type="submit" class="btn-email btn-block"><i class="fa fa-user left"></i>Login<i class="fa fa-angle-right white-text right"></i></button>
                <button mz-button type="button" class="btn-email btn-block" (click)="register(user.email, user.password)"><i class="fa fa-user-plus left"></i>Create new account<i class="fa fa-angle-right white-text right"></i></button>
                <button mz-button type="button" class="btn-email btn-block" (click)="forgotPassword(user.email)"><i class="fa fa-user-secret left"></i>Forgot password<i class="fa fa-angle-right white-text right"></i></button>
              </form>
              <div *ngIf="siteError" class="alert alert-danger" role="alert">
                {{siteError}}
              </div>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
        </mz-collapsible>
      </div>
      <div [hidden]="!isLoading" class="progress my-0">
          <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</main>