
$accent-color: #aa00ff;
$secondary-accent-color: #b388ff;

$background-color: #ffffff;
$secondary-background-color: #f2f2f2;
$tertiary-background-color: #e4e4e4;
$invert-background-color: #263238;

$text-color: #263238;
$secondary-text-color: #757575;
$invert-text-color: #ffffff;

$break-md: 768px;
$break-lg: 993px;

@mixin respond-to($media) {
  @if $media == phones {
    @media only screen and (max-width: $break-md - 1) { @content; }
  } @else if $media == tablets {
    @media only screen and (min-width: $break-md) and (max-width: $break-lg - 1) { @content; }
  }
}