// Import
@import 'variables';

// Global
html, body {
  height: 100%;
  background-color: $background-color;
  color: $text-color;
}

i.material-icons {
  color: $text-color;
}

a {
  color: $accent-color;

  &:focus, &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

[type="checkbox"].no-text {
  &+label {
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: bottom;
    height: 20px;
  }
}

app-root {
  min-height: 100%;
  display: block;
  position: relative;
}

mz-spinner:not(.inline) {
  position: fixed;
  left: calc(50% - 32px);
  top: calc(45% - 34px);
  z-index: 7;
}

mz-spinner {
  /deep/ .preloader-wrapper.tiny {
    width: 16px;
    height: 16px;

    .circle-clipper .circle {
      border-width: 1.5px;
    }
  }
}


.page-title {
  font-size: 4rem;
  font-weight: 400;
}

.web-title {
  font-size: 1.6rem;
  font-weight: 300;
}

.sub-title {
  font-size: 2rem;
  font-weight: 500;
}

.caption {
  color: $secondary-text-color;
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.progress {
  background-color: $invert-background-color;
  position: absolute;
  z-index: 7;
  margin: 0;

  .progress-bar {
    background-color: $accent-color;
  }

  .progress-bar.indeterminate {
    background-color: $invert-background-color;
    
    &::before {
      background-color: $accent-color;
    }
  }
}

.modal {
  bottom: inherit;
  max-width: 900px;
  max-height: 80%;
  overflow: auto;

  .modal-content {
    border: 0;

    > h4 {
      margin-bottom: 2.5rem;
    }
  }

  mz-modal-header {
    font-size: 2.5rem;
    font-weight: 300;
  }

  mz-modal-content {
    > .row {
      margin: 0 1rem -1rem 0;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-weight: 300;
    }

    i.huge {
      font-size: 10vw;

      @include respond-to(tablets) {
        font-size: 15vw;
      }

      @include respond-to(phones) {
        display: none;
      }
    }
  }

  .modal-footer {
    border-top: 0;
  }
}

.modal.modal-fullscreen {
  max-width: inherit;

  .modal-content {
    padding: 0;
    min-height: 100%;

    >h4 {
      display: none;
    }

    >p {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    display: none;
  }
}

.btn.min-w {
  min-width: 10em;
}

.btn.accent {
  background-color: $accent-color;
  color: $invert-text-color;

  &:hover {
    background-color: lighten($accent-color, 12%);
    color: $invert-text-color;
  }

  &:active, .active{
    background-color: lighten($accent-color, 12%);
    color: $invert-text-color;

  }

  > i.material-icons {
    color: $invert-text-color;
  }
}

.btn.invert {
  background-color: $secondary-text-color;
  color: $invert-text-color;

  &:hover {
    background-color: lighten($secondary-text-color, 12%);
    color: $invert-text-color;
  }

  &:active, .active{
    background-color: lighten($secondary-text-color, 12%);
    color: $invert-text-color;
  }

  > i.material-icons {
    color: $invert-text-color;
  }
}

table.striped>tbody>tr:nth-child(odd) {
  background-color: $secondary-background-color;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: $accent-color;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border-color: $accent-color;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
  border-color: $accent-color;
}

[type="checkbox"]:checked+label:before {
  border-right-color: $accent-color;
  border-bottom-color: $accent-color;
}

.tap-target {
  background-color: $accent-color;
  color: $invert-text-color;
}

span.badge.new {
  background-color: $accent-color;
}

.material-dropdown {
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  font-size: 16px;

  i {
    line-height: 3rem;
  }
}

.opac-0 {
  opacity: 0;
}

.opac-4 {
  opacity: 0.4;
}

.opac-7 {
  opacity: 0.7;
}

.opac-10 {
  opacity: 1;
}

// Override bootstrap
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: inherit;
}

// Override ng2-materialize
label {
  color: inherit;
}

i.icon.material-icons {
  vertical-align: bottom;
}

img.materialboxed {
  margin: auto;
}

.card .card-content .card-title i {
  line-height: inherit;
}

nav,
.btn-floating.btn-flat i,
.page-footer .footer-copyright,
.side-nav li > a,
.dropdown-content li,
.dropdown-content li > a,
.dropdown-content li > span {
  color: inherit;
}

.btn-flat {
  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

.dropdown-content {
  a {
    padding: 0 24px !important;
    line-height: 50px !important;
    height: 50px;
    text-align: left;
    
    &:hover {
      background-color: inherit;
    }
  }

  li {
    float: none;
  }
}

.chip {
  color: $text-color;
  background-color: $tertiary-background-color;
}

.z-depth-half {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
}

mz-collapsible {
  .collapsible {
    margin: 0;
  }

  /deep/ .collapsible-body {
    padding: 2rem 2rem 0.5rem;
  }

  /deep/ .collapsible-header {
    i.material-icons {
      vertical-align: bottom;
    }

    mz-badge {
      vertical-align: middle;

      span.badge {
        margin-left: 14px;
      }
    }
  }
}

.tabs .tab a {
  color: lighten($accent-color, 12%);
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: $accent-color;
}

.tabs .indicator {
  background-color: $accent-color;
}

.side-nav li>a>img.icons {
  line-height: 48px;
  margin: 0 32px 0 0;
}

@media only screen and (max-width: 992px) {
  .no-hide-on-med-and-down .hide-on-med-and-down {
    display: inherit !important;
  }
  table.responsive-table thead {
    display: none;
  }
  table.responsive-table tbody {
    white-space: normal;
  }
  table.responsive-table tbody tr {
    width: 100%;
  }
  table.responsive-table tbody td .inline-header {
    display: inline-block;
    min-width: 30%;
    font-weight: bold;
  }
  table.responsive-table tbody td .inline-chips {
    display: inline-table;
    max-width: 70%;
    margin-left: -4px;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: inherit;
    bottom: 7%;
    right: 7%;
  }
  table.responsive-table tbody td span.inline-header {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
  }
}