mz-collapsible-item-header {
  img {
    height: 40px;
    width: 40px;
    margin: 0 5px;
  }
}

.bottom-halfway-fab {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -20px;
}

.right-halfway-fab {
  position: absolute;
  right: -5px;
  margin-top: -40px;

  i {
    width: inherit;
  }
}

.new {
  .right-halfway-fab {
    margin-top: -31px;
  }
}