<app-banner *ngIf="!isNew && product" [isLoading]="isLoading" [navigation]="navigation" imageSrc="assets/products/{{product.key}}.png"></app-banner>
<app-banner *ngIf="isNew" [title]="'Create New Product'"></app-banner>
<div *ngIf="product" class="container my-5" [ngClass]="{'opac-7': isLoading}">
  <form name="form" (ngSubmit)="update()" novalidate>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <app-field [obj]="product" [isLoading]="isLoading" prop="name" label="Name"></app-field>
        <app-field [obj]="product" [isLoading]="isLoading" prop="level" label="Level" type="number"></app-field>
        <app-field [obj]="product" [isLoading]="isLoading" prop="defaultPrice" label="Default Price" type="number"></app-field>
        <app-field [obj]="product" [isLoading]="isLoading" prop="maxPrice" label="Max Price" type="number"></app-field>
        <app-field [obj]="product" [isLoading]="isLoading" prop="productionTime" label="Production Time" type="mask" [options]="maskOptions"></app-field>
        <app-field [obj]="product" [isLoading]="isLoading" prop="experienceGained" label="Experience" type="number"></app-field>
        <app-field [obj]="product" [isLoading]="isLoading" prop="minPerCrate" label="Min/Crate" type="number"></app-field>
        <app-field [obj]="product" [isLoading]="isLoading" prop="maxPerCrate" label="Max/Crate" type="number"></app-field>
        <app-field [obj]="product.source" [isLoading]="isLoading" prop="key" label="Source" type="select" [options]="sourceOptions"></app-field>
        <app-field label="Ingredients" type="custom">
          <mz-collapsible *ngIf="product.ingredients && product.ingredients.length" mode="accordion">
            <mz-collapsible-item *ngFor="let product of product.ingredients; let index = index;">
              <mz-collapsible-item-header [ngClass]="{new: !(product.ingredientName && product.quantity)}">
                <ng-container *ngIf="product.ingredientName && product.quantity">
                  <span *ngIf="product.quantity < 1"><img src="assets/products/{{product.ingredientKey}}.png"></span>
                  <span *ngFor="let i of product.quantity | fill"><img src="assets/products/{{product.ingredientKey}}.png"></span>
                </ng-container>
                <span *ngIf="!(product.ingredientName && product.quantity)">#{{index + 1}}<mz-badge value="new" caption="" [new]="true" class="ml-2"></mz-badge></span>
                <a mz-button class="right-halfway-fab invert" [float]="true" (click)="removeIngredient(index)"><i mz-icon icon="remove"></i></a>
              </mz-collapsible-item-header>
              <mz-collapsible-item-body>
                <app-field [obj]="product" [isLoading]="isLoading" prop="ingredientKey" label="Name" type="select" [options]="productOptions"></app-field>
                <app-field [obj]="product" [isLoading]="isLoading" prop="quantity" label="Quantity" type="number"></app-field>
              </mz-collapsible-item-body>
            </mz-collapsible-item>
          </mz-collapsible>
          <a mz-button class="bottom-halfway-fab accent" [float]="true" (click)="newIngredient()">
            <i mz-icon icon="add"></i>
          </a>
        </app-field>
      </div>
    </div>
  </form>
</div>

<div *ngIf="product" class="fixed-action-btn click-to-toggle">
  <a mz-button [float]="true" [large]="true" class="accent"><i mz-icon icon="keyboard_arrow_up"></i></a>
  <ul>
    <li><a mz-button [float]="true" [large]="true" class="accent red" routerLink="../" mz-tooltip tooltip="Cancel" position="left"><i mz-icon icon="clear"></i></a></li>
    <li><a mz-button [float]="true" [large]="true" class="accent blue" (click)="update()" mz-tooltip tooltip="Save" position="left"><i mz-icon icon="save"></i></a></li>
  </ul>
</div>

<mz-spinner *ngIf="isFirstLoading" size="big"></mz-spinner>
