<span (mouseleave)="leave()">
  <span class="rate" *ngFor="let item of range; let i = index" (mouseenter)="enter(i + 1)">
    <i mz-icon class="icon" [icon]="i < currValue ? stateOn : stateOff" (mouseup)="select(i + 1)"></i>
  </span>
</span>
