<app-banner *ngIf="product" [isLoading]="isLoading" [navigation]="navigation" placeholder="Products..." (keywordChanged)="searchProducts($event)" imageSrc="assets/products/{{product.key}}.png">
  <a mz-button mz-tooltip id="show-map" tooltip="Show network map" [float]="true" [flat]="true" (click)="showNetworkMap()"><i mz-icon icon="map"></i></a>
  <table [ngClass]="{'opac-4': isLoading}">
    <tbody>
      <tr>
        <th><i mz-icon icon="vpn_key" class="icon" mz-tooltip tooltip="Level"></i></th>
        <td>Lv {{product.level}}</td>
        <th><i mz-icon icon="build" class="icon" mz-tooltip tooltip="Source"></i></th>
        <td><a [routerLink]="['/source', product.source.key]">{{product.source.name}}</a></td>
      </tr>
      <tr>
        <th><i mz-icon icon="watch_later" class="icon" mz-tooltip tooltip="Production Time"></i></th>
        <td>
          {{product.realProductionTime}}
          <i *ngIf="product.isMastered" mz-icon icon="check" class="icon" mz-tooltip tooltip="{{product.productionTime}} x 85%"></i>
        </td>
        <th><i mz-icon icon="star" class="icon" mz-tooltip tooltip="Experience Gain"></i></th>
        <td>{{product.experienceGained}}</td>
      </tr>
      <tr>
        <th><i mz-icon icon="local_offer" class="icon" mz-tooltip tooltip="Price"></i></th>
        <td>{{product.productPrice}}</td>
        <th><i mz-icon icon="directions_boat" class="icon" mz-tooltip tooltip="Required per crate"></i></th>
        <td>{{product.perBoatCrate}}</td>
      </tr>
      <tr>
        <th><i mz-icon icon="attach_money" class="icon" mz-tooltip tooltip="Profit per minute"></i></th>
        <td>{{product.profit | currency:'USD':"symbol-narrow":'1.2-2'}}</td>
        <ng-container *ngIf="isLoggedIn">
          <th><i mz-icon icon="rate_review" class="icon" mz-tooltip tooltip="Rating"></i></th>
          <td>
            <app-rating [(ngModel)]="product.rating" (change)="updateRating(product)"></app-rating>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</app-banner>

<div class="container my-3" [ngClass]="{'opac-7': isLoading}">
  <div *ngIf="product" class="row">
    <div id="product-detail-card" class="col-md-4 center">
      <i mz-icon icon="extension" class="icon"></i>
      <div class="sub-title my-3">Ingredients</div>
      <span *ngFor="let ingredient of product.ingredients" class="chip">
        <img src="assets/products/{{ingredient.ingredientKey}}.png" alt="{{ingredient.ingredientKey}}">
        <span>{{ingredient.quantity | number:'1.0-2'}} -</span>
        <a [routerLink]="['/product', ingredient.ingredientKey]">{{ingredient.ingredientName}}</a>
      </span>
      <a *ngIf="!product.ingredients.length" class="chip"><i>(None)</i></a>
    </div>

    <div id="product-detail-card" class="col-md-4 center">
      <i mz-icon icon="cake" class="icon"></i>
      <div class="sub-title my-3">Products</div>
      <span *ngFor="let productProduct of product.products" class="chip">
        <img src="assets/products/{{productProduct.productKey}}.png" alt="{{productProduct.productKey}}">
        <a [routerLink]="['/product', productProduct.productKey]">{{productProduct.productName}}</a>
        <span>({{productProduct.quantity | number:'1.0-2'}})</span>
      </span>
      <a *ngIf="!product.products.length" class="chip"><i>(None)</i></a>
    </div>

    <div id="product-detail-card" class="col-md-4 center">
      <i mz-icon icon="share" class="icon"></i>
      <div class="sub-title my-3">Relatives</div>
      <span *ngFor="let relative of product.relatives" class="chip">
        <img src="assets/products/{{relative.key}}.png" alt="{{relative.key}}">
        <a [routerLink]="['/product', relative.key]">{{relative.name}}</a>
      </span>
      <a *ngIf="!product.relatives.length" class="chip"><i>(None)</i></a>
    </div>
  </div>
</div>

<div *ngIf="product && isAdmin" class="fixed-action-btn click-to-toggle">
  <a mz-button [float]="true" [large]="true" class="accent"><i mz-icon icon="keyboard_arrow_up"></i></a>
  <ul>
    <li><a mz-button [float]="true" [large]="true" class="accent red" routerLink="/product/new" mz-tooltip tooltip="New" position="left"><i mz-icon icon="add"></i></a></li>
    <li><a mz-button [float]="true" [large]="true" class="accent blue" routerLink="edit" mz-tooltip tooltip="Edit" position="left"><i mz-icon icon="mode_edit"></i></a></li>
  </ul>
</div>

<mz-spinner *ngIf="isFirstLoading" size="big"></mz-spinner>