@import "src/variables";

app-banner {
  #show-map {
    vertical-align: baseline;
  }

  td {
    white-space: nowrap;

    label {
      color: inherit;
      margin-bottom: inherit;
      font-size: inherit;
    }

    /deep/ i.material-icons {
      &[mz-tooltip] {
        cursor: help;
      }
    }
  }
}

#product-detail-card {
  padding: 0 0 1rem 0;

  .icon {
    font-size: 8rem;
    display: block;
    color: $invert-background-color;
  }

  .chip {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0px 20px;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;

    img {
      margin: 8px 8px 8px -8px;
      height: 32px;
      width: 32px;
    }
  }
}