<app-banner [title]="'PRODUCTS'" [isLoading]="isLoading" [keyword]="params.q" placeholder="Products..." (keywordChanged)="keywordChanged($event)" imageSrc="assets/products.png">
  <p>
    Products are items made or collected from
    <a routerLink="/source">production buildings</a>.
    <br> There are 200+ different products in the game.
  </p>
</app-banner>

<div *ngIf="products" class="container my-3">
  <app-paging id="top-paging" [total]="products.paging.total" [params]="params">
    <div class="col-auto mx-3">
      <mz-dropdown [id]="'filter'" [dropdownButtonId]="'btn-filter'" [belowOrigin]="true" [constrainWidth]="false">
        <mz-dropdown-item *ngIf="isLoggedIn">
          <a [routerLink]="[]" [queryParams]="setupFilter('level<='+level)">Only available products</a>
        </mz-dropdown-item>
        <mz-dropdown-item *ngIf="isLoggedIn">
          <a [routerLink]="[]" [queryParams]="setupFilter('rating>3')">Only favorite products</a>
        </mz-dropdown-item>
        <mz-dropdown-item>
          <a [routerLink]="[]" [queryParams]="setupFilter('ingredients.count()=4')">Only complex products</a>
        </mz-dropdown-item>
      </mz-dropdown>
      <div id="btn-filter" class="material-dropdown">
        Add Filtering
        <i mz-icon icon="arrow_drop_down" align="right"></i>
      </div>
    </div>
  </app-paging>
  <app-table type="product" [data]="products.items" [paging]="products.paging" [highlight]="params.q" [isLoggedIn]="isLoggedIn" [isLoading]="isLoading" [params]="params" (update)="updateRating($event)"></app-table>
  <app-paging id="bottom-paging" [total]="products.paging.total" [params]="params"></app-paging>
</div>

<div *ngIf="products && isAdmin" class="fixed-action-btn">
  <a mz-button [float]="true" [large]="true" class="accent" routerLink="/product/new" mz-tooltip tooltip="New" position="left"><i mz-icon icon="add"></i></a>
</div>
