<div class="row justify-content-center justify-content-xl-end no-gutters mb-0">
  <ng-content *ngIf="pager.total"></ng-content>
  <div *ngIf="pager.pageSizeOptions" class="col-auto mx-3">
    <mz-dropdown id="{{id}}-pagesize" dropdownButtonId="{{id}}-btn-pagesize" [belowOrigin]="true" [constrainWidth]="false">
      <mz-dropdown-item *ngFor="let i of pager.pageSizeOptions" [class.active]="i === pager.pageSize">
        <a [routerLink]="[]" [queryParams]="setupParams(params, 'pageSize', i)">{{i}} records / page</a>
      </mz-dropdown-item>
    </mz-dropdown>
    <div id="{{id}}-btn-pagesize" class="material-dropdown">
      {{pager.startIndex}}-{{pager.endIndex}}
      <span class="text-lowercase font-weight-normal">of</span>
      {{pager.total}}
      <i mz-icon icon="arrow_drop_down" align="right"></i>
    </div>
  </div>
  <ul *ngIf="pager.pages && pager.pages.length > 1" class="col-auto pagination mb-0">
    <li *ngIf="isFirst(pager.page)" class="disabled">
      <a><i mz-icon icon="chevron_left" mz-tooltip tooltip="First page reached"></i></a>
    </li>
    <li *ngIf="!isFirst(pager.page)" class="waves-effect">
      <a [routerLink]="[]" [queryParams]="setupParams(params, 'page', pager.page - 1)"><i mz-icon icon="chevron_left"></i></a>
    </li>
    <ng-container *ngFor="let i of pager.pages">
      <li class="waves-effect" [class.active]="isCurrent(i)" *ngIf="isShow(i)">
        <a [routerLink]="[]" [queryParams]="setupParams(params, 'page', i)">
          <span *ngIf="!isShowAsDot(i)">{{i}}</span>
          <span *ngIf="isShowAsDot(i)">...</span>
        </a>
      </li>
    </ng-container>
    <li *ngIf="isLast(pager.page)" class="disabled">
      <a><i mz-icon icon="chevron_right" mz-tooltip tooltip="Last page reached"></i></a>
    </li>
    <li *ngIf="!isLast(pager.page)" class="waves-effect">
      <a [routerLink]="[]" [queryParams]="setupParams(params, 'page', pager.page + 1)"><i mz-icon icon="chevron_right"></i></a>
    </li>
  </ul>
</div>