// Import
@import 'src/variables';

.pagination {
  display: inline-flex;
  width: inherit;
  max-width: 100vw;

  li {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0 2.4px;

    a {
      color: inherit;
      font-size: inherit;
      width: 100%;
      height: 100%;
    }

    i {
      color: inherit;
      line-height: 3rem;
      margin: 0 -10px;
    }

    &.disabled {
      cursor: default;
      color: gray;
      user-select: none;

      [mz-tooltip] {
        cursor: help;
      }
    }

    &:not(.disabled):hover {
      background-color: $secondary-background-color;
    }

    &:not(.disabled).active {
      background-color: $accent-color;
      color: $invert-text-color;
    }
  }
}

/deep/ .dropdown-content {
  /deep/ .active li {
    background-color: $secondary-background-color;
  }
}
